- if signed_in?
  %div
    = session[:name]
    = image_tag provider_logo
  %div
    = image_tag session[:avatar]
  %div
    = link_to "Sign out", sign_out_path
- else
  Sign in with
  = link_to image_tag('twitter_32.png'), '/auth/twitter', :title => 'Sign in with Twitter'
  = link_to image_tag('facebook_32.png'), '/auth/facebook', :title => 'Sign in with Facebook'
  = link_to image_tag('linked_in_32.png'), '/auth/linked_in', :title => 'Sign in with LinkedIn'
