- if signed_in?
  %div
    = current_user.name
    = image_tag provider_logo
  %div
    = image_tag current_user.avatar
  %div
    = link_to "Sign out", destroy_user_session_path
- else
  Sign in with
  = link_to image_tag('twitter_32.png'), user_omniauth_authorize_path(:twitter), :title => 'Sign in with Twitter'
